<p> <%=personne.birthdate.getDate()%>/<%=personne.birthdate.getMonth()%>/<%= personne.birthdate.getFullYear() %> </p>
                    <% for(const i of personne.cours) { %>
                        <span><%= i %></span>
                    <% } %>