<%- include('./shared/header')%>

    <h1>Formulaire de contact</h1>
    <form method="POST">
        <div>
            <label for="pseudo">Votre pseudo : </label>
            <input id="pseudo" name="pseudo" type="text" />
        </div>
        <div>
            <label for="msg">Votre message : </label>
            <textarea id="msg" name="msg"></textarea>
        </div>
        <button type="submit">Envoyer</button>

    </form>
</body>

</html>