<%- include('./shared/header')%>
    <h1 class="txt-red txt-large">Erreur 404</h1>
    <img src="/images/undraw_Page_not_found_re_e9o6.png" alt="image illustrant une ressource non trouve"/>
</body>

</html>